@import '../../../../assets/scss/theme-var.scss';

.login {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;

    .left-side {
        height: 100vh;
        background: #0d5f9a;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        font-size: 72px;
    }

    .right-side {
        background-color: $bgGrey;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .content {
            width: max-content;
            min-width: 400px;

            h1 {
                margin-bottom: 5px;
                font-size: 36px;
            }

            .sign-message {
                font-family: $fontLato;
                margin-bottom: 25px;
            }
        }

        .logo-section {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-bottom: 25px;
            position: relative;

            button {
                font-size: 11px;
                font-family: $fontMontserrat;
                padding: 2px 20px;
                background-color: $white;
                border-radius: 10px;
                border: none;
                outline: none;
                cursor: pointer;
                color: $secondary;
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $white;
            border-radius: 20px;
            padding: 3rem 2rem;
            padding-top: 1rem;

            .label {
                margin-bottom: 10px;
                font-family: $fontLato;
            }

            input {
                border-radius: 10px;
                background-color: $darkGrey;
                width: 90%;
                border: none;
                outline: none;
                padding: 10px 15px;
                font-family: $fontLato;
                font-size: 16px;
                margin-bottom: 1rem;
            }

            .forgot-password {
                font-family: $fontLato;
                color: #346bd5;
                font-size: 16px;
                margin-bottom: 1rem;
                cursor: pointer;
            }

            button {
                position: relative;
                border-radius: 10px;
                outline: none;
                padding: 10px 36px;
                cursor: pointer;
                font-weight: bold;
                font-family: $fontMontserrat;
                transition: 0.1s all ease-in-out;
                background-color: $primary;
                color: $white;
                border: none;
            }
        }
    }

    .register-link {
        text-align: center;
        font-family: $fontLato;
        color: #858585;
        margin-top: 2rem;
    }
}
