@import '../../assets/scss/style.scss';

.status-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 2rem 0;
    margin-right: 2rem;
}

.bottom-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-right: 2rem;
    margin-top: 1rem;
    grid-gap: 20px;
}
