@import '../assets//scss/style.scss';

.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: $bgGrey;

    .sidebar-container {
        height: 100%;
        width: 360px;
        padding: 40px;
        padding-right: 0;

        @media (max-width: $d-vp) {
            padding-left: 0;
            width: 80px;
        }
    }

    .content {
        width: calc(100% - 280px);
        padding: 40px;
        padding-left: 20px;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: auto;
        flex: 1;

        @media (max-width: $d-vp) {
            width: calc(100% - 80px);
            padding: 20px;
        }
    }
}
