@import '../assets/scss/theme-var.scss';

.dashboard-container {
    display: flex;
    background-color: $bgGrey;
    height: 100vh;

    .sidebar-container {
        width: 360px;
        padding: 2rem;

        @media (max-width: $d-vp) {
            padding-left: 0;
            width: 80px;
        }
    }

    .content {
        width: calc(100% - 280px);
        padding: 2rem;
        padding-left: 20px;
        max-width: 100%;
        overflow-y: auto;

        @media (max-width: $d-vp) {
            width: calc(100% - 80px);
            padding: 20px;
        }
    }
}
